# Pandas

#### Pandas é uma biblioteca escrita sobre o numpy
#### Permite rápida visualização e limpeza de dados
#### Pode trabalhar com dados de diversos tipos e possui métodos próprios de visualização de dados

# Estruturas de dados em Pandas

pandas.Series() - 1 dimensão - 1D

pandas.DataFrame() - 2 dimensões - 2D

numpy.ndarray - x dimensões

## Series

In [5]:
import pandas as pd
import numpy as np

### numpy.ndarray

In [6]:
np.random.seed(100) #serve pra garantir que a cada execução eu tenha o mesmo conjunto de valores
Serie1 = pd.Series(np.random.rand(10))

In [7]:
Serie1

0    0.543405
1    0.278369
2    0.424518
3    0.844776
4    0.004719
5    0.121569
6    0.670749
7    0.825853
8    0.136707
9    0.575093
dtype: float64

In [8]:
type(Serie1)

pandas.core.series.Series

In [9]:
import calendar as cal

In [10]:
meses = [cal.month_name[i] for i in np.arange(1,13)]

In [11]:
meses_Series1 = pd.Series(np.arange(1,13), index = meses)

In [12]:
meses_Series1

January       1
February      2
March         3
April         4
May           5
June          6
July          7
August        8
September     9
October      10
November     11
December     12
dtype: int64

In [13]:
meses_Series1.index

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

## Usando dicionários

In [14]:
dict1 = {'US': 'dollar', 'UK': 'pound', 'Germany': 'euro', 'Brazil': 'real', 'China': 'yuan', 'Japan': 'yen'}

In [15]:
moeda_Series1 = pd.Series(dict1)

In [16]:
moeda_Series1

US         dollar
UK          pound
Germany      euro
Brazil       real
China        yuan
Japan         yen
dtype: object

In [27]:
stockPrices = {'GOOG': 1092.23, 'FB': 59.78, 'TWTR': 67.31, 'AMZN': 342.90, 'AAPL': 501.60}

In [34]:
stockPriceSeries = pd.Series(stockPrices,
                             index = ['GOOG','FB','YHOO''TWTR','AMZN','AAPL'],
                             name = 'stockPrices')

In [35]:
stockPriceSeries

GOOG        1092.23
FB            59.78
YHOOTWTR        NaN
AMZN         342.90
AAPL         501.60
Name: stockPrices, dtype: float64

## Usando valores escalares

In [36]:
humanSerie = pd.Series('Homem', index = ['pernas', 'tronco', 'peito', 'cabeça'])

In [37]:
humanSerie

pernas    Homem
tronco    Homem
peito     Homem
cabeça    Homem
dtype: object

## Operações com Séries

In [38]:
#Obtendo um único valor
dict1['China']

'yuan'

In [39]:
#alterando um elemento
stockPriceSeries['GOOG'] = 1300.0

In [40]:
stockPriceSeries

GOOG        1300.00
FB            59.78
YHOOTWTR        NaN
AMZN         342.90
AAPL         501.60
Name: stockPrices, dtype: float64

In [46]:
stcokPriceSeries['XPTO']

NameError: name 'stcokPriceSeries' is not defined

In [62]:
stockPriceSeries.get('XPTO', np.NaN)

nan

In [63]:
#somando series 
ser1 = pd.Series([1,2,3,4], index = ['EUA', 'Alemanha', 'URSS', 'Japão'])
ser2 = pd.Series([1,2,3,4], index = [ 'Alemanha', 'EUA', 'URSS', 'Japão'])

In [64]:
ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [65]:
ser2

Alemanha    1
EUA         2
URSS        3
Japão       4
dtype: int64

In [66]:
ser1 + ser2

Alemanha    3
EUA         3
Japão       8
URSS        6
dtype: int64

In [67]:
ser3 = pd.Series([1,2,3,4], index = [ 'Alemanha', 'EUA', 'Itália', 'Japão']); ser3

Alemanha    1
EUA         2
Itália      3
Japão       4
dtype: int64

In [68]:
ser1 + ser3

Alemanha    3.0
EUA         3.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64

## Slicing

In [49]:
stockPriceSeries[:4]

GOOG        1300.00
FB            59.78
YHOOTWTR        NaN
AMZN         342.90
Name: stockPrices, dtype: float64

In [51]:
stockPriceSeries[stockPriceSeries > 100]

GOOG    1300.0
AMZN     342.9
AAPL     501.6
Name: stockPrices, dtype: float64

## Outras operações

In [52]:
np.mean(stockPriceSeries)

551.0699999999999

In [53]:
np.std(stockPriceSeries)

460.44653294383704